<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/home.css">
    <title>
        My Website
    </title>
</head>
<body>
    <table id="menu">
        <td class="cell"><a href="/">Home</a></td>
        <td class="cell"><a href="/about/">About</a></td>
        <td class="cell"><a href="/rp_calc/">RP Calculator</a></td>
    </table>
    <h1>My Home Page</h1>
    <p>This is my home page.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores repellat perferendis similique qui placeat eligendi vel quibusdam repellendus mollitia nulla inventore a, eos cumque modi in esse itaque accusantium atque?</p>
</body>
